---
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="gr__127_0_0_1"><head>
		<title>{{site.title}}</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="Content-Language" content="en">
		
		<link rel="stylesheet" type="text/css" href="./assets/bookface.css" title="Nice">
	</head>
	<body data-gr-c-s-loaded="true">
		<div id="page">
			<div id="header">
				<h1><img src="./assets/activelink.png" alt="activelink image" title="Logo" width="108" height="36"><a href="./index.html">{{site.title}}</a></h1>
			</div>
			<div id="content">
				<div id="sidebar">
					<div class="sidebox h-card" rel="me">
						<div class="header">
							My Bio
						</div>
						<div class="links">
							<ul>
								<li><img class="u-photo" rel="me" src="./{{site.image}}" alt="my photo" /></li>
								<li><a rel="author" class="p-name u-url" rel="me" href="{{site.url}}">{{site.author}}</a></li>
								<li><a class="u-email" rel="me" href="mailto:{{site.email}}">email</a>,</li>
								<li><a class="u-email" rel="me" href="">tomasparks@21:1/164</a>, (<a href="http://www.bbs.geek.nz/#fsxNet">fsxnet</a>)</li>
								<li><a class="u-email" rel="me" href="">tomasparks@fideonet</a>. (comming soon)</li>
								<li><div class="p-note">{{site.bio}}</div></li>
								<li><a href="http://127.0.0.1:8888/USK@1waTsw46L9-JEQ8yX1khjkfHcn--g0MlMsTlYHax9zQ,oYyxr5jyFnaTsVGDQWk9e3ddOWGKnqEASxAk08MHT2Y,AQACAAE/jSite/12/">jSite</a></li>
								<li><a href="http://127.0.0.1:8888/USK@nwa8lHa271k2QvJ8aa0Ov7IHAV-DFOCFgmDt3X6BpCI,DuQSUZiI~agF8c-6tjsFFGuZ8eICrzWCILB60nT8KKo,AQACAAE/sone/71/">Sone</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebox">
						<div class="header">
							jSite Downloads 0.13
						</div>
						<div class="links">
							<ul>
									<li><a href="http://127.0.0.1:8888/USK@1waTsw46L9-JEQ8yX1khjkfHcn--g0MlMsTlYHax9zQ,oYyxr5jyFnaTsVGDQWk9e3ddOWGKnqEASxAk08MHT2Y,AQACAAE/jSite/12/jSite-0.13-jar-with-dependencies.jar">JAR file only</a></li>
									<li><a href="http://127.0.0.1:8888/USK@1waTsw46L9-JEQ8yX1khjkfHcn--g0MlMsTlYHax9zQ,oYyxr5jyFnaTsVGDQWk9e3ddOWGKnqEASxAk08MHT2Y,AQACAAE/jSite/12/jSite-0.13.tar.bz2">Source (tar.bz2)</a></li>
									<li><a href="http://127.0.0.1:8888/USK@1waTsw46L9-JEQ8yX1khjkfHcn--g0MlMsTlYHax9zQ,oYyxr5jyFnaTsVGDQWk9e3ddOWGKnqEASxAk08MHT2Y,AQACAAE/jSite/12/jSite-0.13.zip">Source (zip)</a></li>
								</ul>
						</div>
					</div>
					<div class="sidebox">
						<div class="header">
							Other People
						</div>
						<div class="links">
							<ul>
									<li><a href="http://127.0.0.1:8888/USK@yGvITGZzrY1vUZK-4AaYLgcjZ7ysRqNTMfdcO8gS-LY,-ab5bJVD3Lp-LXEQqBAhJpMKrKJ19RnNaZMIkusU79s,AQACAAE/toad/47/">toad</a></li>
									<li><a href="http://127.0.0.1:8888/USK@hM9XRwjXIzU8xTSBXNZvTn2KuvTSRFnVn4EER9FQnpM,gsth24O7ud4gL4NwNuYJDUqfaWASOG2zxZY~ChtgPxc,AQACAAE/Flog/7/">NextGen$</a></li>
									<li><a href="http://127.0.0.1:8888/USK@FgA7EMOmIjfw~OATtonMPZ80xJGDtzZ5TI15b2nIHH8,qeVFtPz2cX0VAif2AMXAS8ajgvbc3SsVp2YkPYczMX0,AQACAAE/Zothar_flog/11/">Zothar</a></li>
									<li><a href="http://127.0.0.1:8888/USK@yQ6xZyw6KlKgEBygbncwm0kyyH0QOtxt35V7CFngUKc,c-4iY3l2nmkumKcN4qB1CLmx1tszv8Rqnv184Ys9fgc,AQACAAE/Wavey%27s%20Freenet%20Development%20Flog/18/">Wavey</a></li>
									<li><a href="http://127.0.0.1:8888/USK@gjw6StjZOZ4OAG-pqOxIp5Nk11udQZOrozD4jld42Ac,BYyqgAtc9p0JGbJ~18XU6mtO9ChnBZdf~ttCn48FV7s,AQACAAE/flog/29/">evand</a></li>
								</ul>
						</div>
					</div>
					<div class="sidebox">
						<div class="header">
							By Month
						</div>
						<div class="links">
							<ul>
									<li><a href="./month.2017-01.page.1.html">January 2017 (1)</a></li>
									
								</ul>
						</div>
					</div>
					<div class="sidebox">
						<div class="header">
							Tags
						</div>
						<div class="links">
							<ul class="tags">
									<li class="tags"><span style="font-size: 54.93968544816%;"><a href="./tags.ac%20dc.page.1.html">ac dc<span class="tag-count"> (1)</span></a></span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="navigation">
					<div class="link">
						&lt;&lt;
					</div>
					<div class="link">
						&lt;
					</div>
					<div class="links">
							<div class="link current">1</div>
								<div class="link"><a href="./page.2.html">2</a></div>
							</div>
					<div class="link">
						<a href="./page.2.html">&gt;</a>
					</div>
					<div class="link">
						<a href="./page.20.html">&gt;&gt;</a>
					</div>
				</div>

				
				<div id="entries" class="h-feed">
								{% for post in site.posts %}
					<div class="entry h-entry">
						<div class="header">
							<div class="number">{{post.count}}</div>
							<div class="topic p-name">{{post.title}}</div>
							<div class="date"><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></div>
						</div>
							<div class="subheader">
							<div class="tags">Tags:</div>
							{% assign categories = post.categories %}
							{% for category in categories %}
							<div class="tag"><a href="./tags.{{category}}.page.1.html">{{category}}</a></div>
							{% endfor %}
							<div class="music-empty"></div>
						</div>
						<div class="text e-content">
							{{post.excerpt}}
						</div>
						<div class="footer">
							<div class="link">
								[<a class="u-uid u-url u-syndication" rel="syndication" href="./{{post.url}}" title="{{post.title}}">link</a>]
							  Also posted on:
  {% assign syndications = page.syndication %}
  {% for syndication in syndications %}
  <a href="{{syndication}}" class="u-syndication" >{{syndication}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
							</div>
						</div>
					</div>
					  {% endfor %}
				</div>
 
			<div id="footer">
				<div class="email"></div>
			</div>
		</div>
	
</body></html>
